@using SISMA.Core.Models.Common
@model ContextHelpVM
<li class="nav-item d-none d-sm-inline-block">
    <a href="#" class="nav-link" onclick="showHelpFile('@(Model.Title)','@(Model.HelpFile)');" title="Помощ"><i class="fas fa-question-circle text-warning"></i></a>
</li>